<nav>
  <ul [@fadeAnimation]="getRouterOutletState(o)">
    <li *ngIf="!mediaService.logged">
      <a [routerLink] = "'/register'">Register</a>
    </li>
    <li *ngIf="!mediaService.logged">
      <a [routerLink] = "'/login'">Login</a>
    </li>
    <li *ngIf="mediaService.logged">
      <a [routerLink] = "'/logout'">Logout</a>
    </li>
    <li>
      <a [routerLink] = "'/front'">Front page</a>
    </li>
    <li *ngIf="mediaService.logged">
      <a [routerLink] = "'/upload'">Upload</a>
    </li>
  </ul>
</nav>